@import "tailwindcss";

@font-face {
    font-family:'bold';
    src: url(../public/font/Anjoman-Bold.woff2);
}

@font-face {
    font-family:'medium';
    src: url(../public/font/Anjoman-Medium.woff2);
}

@theme{
    --font-bold : 'bold';
    --font-medium : 'medium';
    --color-red-primary: #FF5D7A;
    --color-bg-body: #FCFCFC;
    --color-green-primary: #42C595;
    --color-green-secondary: #39AC81;
    --color-yellow-primary: #F29F05;
    --color-yellow-secondary: #D48B03;
    --color-pink-primary: #FF5D7A;
    --color-pink-secondary: #E64260;

}

